local cmp = require("cmp")
local lspkind = require("lspkind")

{{- if (eq .chezmoi.hostname "WKSMAC25457") }}
local has_words_before = function()
  if vim.api.nvim_buf_get_option(0, "buftype") == "prompt" then return false end
  local line, col = unpack(vim.api.nvim_win_get_cursor(0))
  return col ~= 0 and vim.api.nvim_buf_get_text(0, line-1, 0, line-1, col, {})[1]:match("^%s*$") == nil
end
{{- end }}

cmp.setup({
  snippet = {
    -- REQUIRED - you must specify a snippet engine
    expand = function(args)
      require("luasnip").lsp_expand(args.body)
    end
  },
  mapping = {
  {{- if (eq .chezmoi.hostname "WKSMAC25457") }}
    ["<Tab>"] = vim.schedule_wrap(function(fallback)
      if cmp.visible() and has_words_before() then
        cmp.select_next_item({ behavior = cmp.SelectBehavior.Select })
      else
        fallback()
      end
    end),
  {{- else }}
    ["<Tab>"] = cmp.mapping(cmp.mapping.select_next_item(), {"i", "s"}),
  {{- end }}
    ["<S-Tab>"] = cmp.mapping(cmp.mapping.select_prev_item(), {"i", "s"}),
    ["<C-b>"] = cmp.mapping(cmp.mapping.scroll_docs(-4), {"i", "c"}),
    ["<C-f>"] = cmp.mapping(cmp.mapping.scroll_docs(4), {"i", "c"}),
    ["<C-y>"] = cmp.config.disable, -- disable this default keymap
    ["<C-e>"] = cmp.mapping({
      i = cmp.mapping.abort(),
      c = cmp.mapping.close()
    }),
    ["<CR>"] = cmp.mapping.confirm({select = true})
  },
  sources = {
    {name = "nvim_lsp", max_item_count = 20}, -- tsserver likes to send back everything
    {name = "luasnip"},
    {name = "buffer" },
    {name = "codeium"},
  {{- if (eq .chezmoi.hostname "WKSMAC25457") }}
    {name = "copilot"},
  {{- end }}
  },
  formatting = {
    format = lspkind.cmp_format({
      mode = "symbol",
      maxwidth = 50,
      ellipsis_char = "...",
      symbol_map = {
        Codeium = "",
      {{- if (eq .chezmoi.hostname "WKSMAC25457") }}
        Copilot = ""
      {{- end }}
      },
      menu = ({
        buffer = "[Buffer]",
        nvim_lsp = "[LSP]",
        luasnip = "[Snip]",
        nvim_lua = "[Lua]",
        latex_symbols = "[Latex]",
        codeium = "[Codeium]",
      {{- if (eq .chezmoi.hostname "WKSMAC25457") }}
        copilot = "[Copilot]"
      {{- end}
      })
    })
  }
})

-- Use buffer source for '/'
cmp.setup.cmdline({ "/", "?" }, {
  sources = {
    {name = "buffer"}
  }
})

-- Use cmdline & path source for ":"
cmp.setup.cmdline(":", {
  sources = {
    {name = "path"},
    {
      name = "cmdline",
      option = {
        ignore_cmds = {
          "Man", -- default
          "!" -- default
        }
      }
    }
  }
})
